:root {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.container {
  padding: 16px;
}

* {
  box-sizing: border-box;
}
